		.section9{

			color: white;
			margin: 0;
			font-size: 17px;
		}
		.section9 a{
			text-decoration: none;
			color: #bdd44a;

		}
		p.parag9{
			font-size: 32px;
			font-family: sans-serif;
			padding-left: 1.1em;
			margin-bottom: 30px;
			margin-top: 30px;
		}

		.div4{

			display: flex;
			justify-content: center;
			align-items: center;
			margin:0;

		}

		.boxx{

		padding-left: 2em;
		float: left;
		width: 28%;
		padding-right: 1.5em;
		background-color: #535457;
		min-height: 340px;

		}
		.boxx1{
		padding-left: 2em;
		float: left;
		width: 35%;
		background-color: #535457;
		min-height: 340px;
		margin: 0;
		 }

		 .boxx ul {
			 margin-left: 35px;

		 }


		.fab {
				padding-top: 15px;
				padding-bottom: 15px;
  			font-size: 40px;
  			width: 25px;
  			text-align: center;
  			text-decoration: none;
  			margin: 5px 10px;
				margin-right: 45px;
        }

		div#s1{

			color: white;
			height: 40px;
			font-size: 13px;}
		a.a1{

			text-decoration: none;
			color: white;

		}
		a.a2{
			text-decoration: none;
			color:#94741C;
		}

		.fl-left{
			float: left;
			padding-left: 1em;

		}

		.fl-right{
			float: right;
			padding-right: 1em;

		}
