section img{
  padding: 5px;
  width: 180px;
}
p5{
	font-style: oblique;
	color: white;
	font-size: 22.9px;
  font-weight: 600;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
h1{
  font-weight: bold;
  color: lightgrey;
  font-size: 30px;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}
img:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.background{
  width: 100%;
  display: flex;
  overflow: hidden;
}
.background video{
  -webkit-filter: blur(3px);
  position: absolute;
  top:1;
  left:0;
  object-fit: cover;
  width: 100%;
  height: 85%;
}
#myVideo {
  position: fixed;
  right: 4;
  bottom: 5;
  width: 100%;
  height: 100%;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

.img-wrap{

}
