header
{
	background-color: #24221C;
}

header p
{
	background-color: #24221C;
	color: white;
}

header form
{
	text-align: right;
	align-self: right;
}

header h1
{
	background-color: white;
	font-size: 80px;
	text-align: center;
    color: #94741C;
    margin: 0 0 0 0;
    padding: 0.5em 0 0 0;
}

header h5
{
	background-color: white;
	font-size: 15px;
	text-align: center;
	color: black;
	margin: 0 0 0 0;
	padding: 1em 0 0 0;
}

nav
{
	background-color: black;
	font-size: 1.2em;
	text-align: center;
	padding: 1em 0 1em 0;
}

nav ul li
{
	list-style: none;
	display: inline;
	border-right:  solid #FFFFFF;
	font-family: Tahoma;
}

nav ul li:first-child
{
	border-left: solid #FFFFFF;
}

header a
{
	color: white;
	padding: 20px 20px;
	text-decoration: none;
}


header a:hover
{
	color: #94741C;

}


section
{
	min-height: 490px;
	background-color: #0D0D0D;
}
section h1
{
	color: #FFFFFF;
	font-size: 75px;
	text-align: right;
	padding-top: 40px;
	padding-right: 30px;

}
aside#side
{
	color: #FFFFFF;
	float: right;
	width: 20%;
	font-size: 150%;
	font-family: "Times New Roman", serif;
	padding-right: 30px;
}
span#viti
{
	color: #969845;
}

section#art
{

background-color: white;
padding: 30px 30px 30px 30px;

margin: 0 30px 60px 30px;

}

.box h2{
font-size: 250%;
font-family: serif;
font-weight: 150;
color: #797979;
border-bottom: solid 1px #CDCDCD;
}

.box{
padding-left: 2em;
float: left;
width: 30%;

}
.box ul li{
color: #969845;
list-style-type: none;
}
li:before
{
	content: "\000BB ";
}
.box p{
	font-family: Palatino, URW Palladio L, serif	;
	color: #979797;
	font-size: 110%;
}

.button1{
	color: #a2a651;
	background-color: #b0b3a2;
	border-radius: 10px;
	font-size: 140%;
	float: right;
	font-weight: bold;
	text-transform: uppercase;
padding: 10px 10px 10px 10px ;
}









table.lastTable
{
	background-color:  #24221C;
	text-align: left;
	width: 100%;



}

table.lastTable thead td
{
	font-size: 30px;
	font-family: cursive;
	color: white;
	padding: 0 2em 0 0.7em;
}

table.lastTable tbody td{
color: white;
padding: 0 2em 0 1.5em;}

table.lastTable tbody a{
	color: #94741C;
	text-decoration: none;

}

.border{
	border-bottom: solid 1px;


}
div#s1{
	background-color: #080808;
	color: white;
	height: 40px;
	font-size: 13px;


}

a.a1{

	text-decoration: none;
	color: white;

}
a.a2{
	text-decoration: none;
	color:#94741C;
}



.fl-left{
	float: left;
	padding-left: 1em;

}



.fl-right{
	float: right;
	padding-right: 1em;

}
