.app-list { list-style: none; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: 0; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; padding: 0 0 100px 0; }
.app__thumbnail { flex-basis: 200px; min-height: 225px; text-align: center; }
.app__title { margin-bottom: 2px; }
.app__thumbnail__image { border-radius: 16px; box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.3); }
.app-description { max-width: 700px; position: relative; margin: 0 auto; padding: 0; }
.app-description__header { display: flex; align-content: flex-end; }
.app-description__header img { margin-right: 24px; }
.app-description__header > div:last-child { align-self: flex-end; }
.app-description__title { font-size: 1.875rem; margin: 0; }
@media (min-width: 480px) { .app-list { -webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; padding: 0 0 100px 0; }
.app-filter { display: inline-block; }

.subheader {
    background: #3e3e3e;
    padding: 20px 0 30px;
    margin-bottom: 50px;
    font-size: 1.25rem;
    color: #FFF;
}

.subheader .bounds, .subheader .page-bounds {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.bounds, .page-bounds {
    max-width: 966px;
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.subheader__title {
    padding: 12px 0 20px 0;
    margin: 0;
    font-size: 1.875rem;
}

.subheader__description {
    margin-left: 34px;
    max-width: 420px;
}

body {
    font-family: "adobe-clean",Helvetica,Arial,sans-serif;
    color: #033351;
    line-height: 1.75rem;
    -webkit-font-smoothing: antialiased;
    padding-top: 60px;
}
