#div1{
	background-image: url(images/image1.jpg);
	width: 100%;
	height: 500px;
	background-repeat: no-repeat;
	background-position: center;
	color: white;
}

#paragraph1{
	padding-top: 100px;
	font-size: 20px;
	text-align: center;
}

#paragraph2{
	font-size: 50px;
	text-align: center;
}

#image2{
	margin-top: 100px;
	margin-left: 50px;
	width: 500px;
}


#div2{
	float: right;
	text-align: left;
	margin-top: 70px;
	padding-right: 240px;
}

#paragraph3{
	font-size: 40px;
	width: 450px;
}

.paragraph4{
	font-size: 17px;
	width: 450px;
}

#section1{
	background-color: #e8ede6;
	padding-top: 85px;
	font-size: 43px;
	text-align: center;

}

.div4{
	display: flex;
	justify-content: center;
	align-items: center;	
	margin:0;
}

.div3{
	width: 30%;
	background-color: #e8ede6;
	font-size: 25px;
	padding-top: 70px;
	min-height: 400px;
	margin-bottom: 150px;
}

#section1 a{
	color: #de8aa1;
	text-decoration: none;


}

#section1 a:hover{
	color: #4d4044;

}

#section1 p{
	font-size: 20px;

}

#paragraph5{	
	font-size: 40px;
	text-align: center;
	align-self: center;
	padding-left: 170px;
	padding-right: 170px;
}
