html, header, footer, body, article, section, 
nav, a, p, img, figure, figcaption, h1, h2, h3, 
div, ul, ol, li, hr
{
    margin: 0;
    padding:0;
    border: 0;
    vertical-align: baseline;
    font-size: 100%;
}